@use '../../../node_modules/bootstrap/scss/bootstrap.scss';
@use './partial/variables';
@use './partial/header';
@use './partial/services';
@use './partial/missions';
@use './partial/projects';
@use './partial/showcase';
@use './partial/packs';
@use './partial/comment';
@use './partial/news';
@use './partial/contact';
@use './partial/footer';
@use './partial/slider';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    .row {
        margin: 0;
    }
}

p {
    color: #aaaaaa;
}

// fonts 

h1 {
    font-family: 'Secular One', sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Zilla Slab', serif;
}


p,
a,
button {
    font-family: 'Fira Sans', sans-serif;
}