@use '../../../node_modules/bootstrap/scss/bootstrap.scss';
@use './partial/variables';
@use './partial/header';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}