@use '../../../node_modules/bootstrap/scss/bootstrap.scss';
@use './partial/variables';
@use './partial/header';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    .row {
        margin: 0;
    }
}

.grad-black {
    background-image: linear-gradient(to top left, #0F0F0F, #464646);
}

.grad-green {
    background-image: linear-gradient(to bottom left, #14D6A5, #99DE6B);
}