nav.footer {

    padding: 5rem 0;

    p,
    a {
        font-size: 12.5px;
    }

    .logo {

        img {
            width: 200px;
        }

        p {
            padding-top: 1.5rem;
            margin: 0;
            font-size: 12.5px;
            line-height: 1.2rem;
        }
    }

    .links {

        a {
            text-decoration: none;
            margin-bottom: -.5rem;
            color: #aaaaaa;

            &:hover {
                color: #99DE6B;
            }
        }

    }
}

.banner {
    .social {
        i {
            margin-left: 1rem;
            transition: all .4s;

            &:hover {
                color: #99DE6B;
                scale: 2;
            }
        }
    }
}