.news {
    padding-top: 10rem;
    padding-bottom: 5rem;

    span {
        color: #00D9A6;
    }

    .cards {

        &:hover {
            cursor: pointer;
        }

        .card-image {
            img {
                border-radius: .5rem;
                box-shadow: 0 4px 8px 0 rgba(104, 104, 104, 0.2), 0 6px 20px 0 rgba(110, 109, 109, 0.19);
            }
        }

        .banner {
            background-color: white;
            box-shadow: 0 2px 4px 0 rgba(152, 150, 150, 0.2), 0 3px 10px 0 rgba(146, 144, 144, 0.19);
            width: 90%;
            padding: 1.5rem;
            position: relative;
            top: -4rem;
            left: 1.3rem;
            border-radius: .5rem;
        }

        .title {
            .circle-green {
                height: 10px;
                width: 10px;
                background-color: #00D9A6;
                border-radius: 50%;
            }
        }

        button {
            text-transform: uppercase;
            background-image: linear-gradient(to top left, #0F0F0F, #464646);
            border: none;
            padding: .5rem 1rem;
            border-radius: 2rem;
            color: white;
            font-size: small;
            transition: all .4s ease 0s;

            &:hover {
                scale: 1.2;
                background-image: linear-gradient(to bottom left, #14D6A5, #99DE6B);
            }
        }

        .vertical {
            position: relative;
            transform: rotate(-90deg);
            font-size: small;
            bottom: 47.5rem;
            left: -42rem;
        }
    }
}