// background colors 
$bg-lighter: #FFFFFF;
$bg-light-less: #F9F9F9;
$bg-light: #F5F5F5;
$bg-light-dark: #E5E3DF;
$bg-primary: #00D9A6;
$bg-grey-light: #bbbbbb;
$bg-secondary: #527ceb;
$bg-grey: #70707059;
$bg-grey-dark: #3d3d3d;
$bg-dark: #333333;
$bg-darker: #00000073;